<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Created by:</div>
                <div class="span9">Asish Soudhamma</div>
            </div>
            <br />
            <div class="row">
                <div class="span2">GitHub:</div>
                <div class="span9"><a href="https://github.com/asishrs/spring-jwt" target="_blank">https://github.com/asishrs/spring-jwt</a></div>
            </div>
        </div>
    </div>
</div>


