<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-user"></span> Profile</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Name</div>
                <div class="span9">{{ vm.profile.firstName }} {{ vm.profile.lastName }}</div>
            </div>
            <div class="row">
                <div class="span2">Email:</div>
                <div class="span9">{{ vm.profile.email }}</div>
            </div>
            <br />
        </div>
    </div>
</div>


